extend ../layout.jade
include ./_nav_left.jade

block content
  .section-description
    p 건축물 미술작품 제도와 관련된 법령을 확인할 수 있습니다.
  .row
    .col-sm-3.col-md-3.col-lg-3.hidden-xs
      mixin left_nav(0)
    .col-sm-3.col-md-3.col-lg-3

    .col-sm-3.col-md-3.col-lg-3
    .col-sm-3.col-md-3.col-lg-3
