extend ../layout.jade
include ./_nav_left.jade

block content
  .section-description
    p 건축물 미술작품 제도와 관련된 법령을 확인할 수 있습니다.
  .row
    .col-sm-3.col-md-3.col-lg-3.hidden-xs
      mixin left_nav(2)
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      h3.policy 문화예술진흥법
      h5 제9조(건축물에 대한 미술작품의 설치 등)
      ol
        li 대통령령으로 정하는 종류 또는 규모 이상의 건축물을 건축하려는 자(이하 “건축주”라 한다)는 건축 비용의 일정 비율에 해당하는 금액을 회화·조각·공예 등 미술작품의 설치에 사용하여야 한다.
        li 건축주(국가 및 지방자치단체는 제외한다)는 제1항에 따라 건축 비용의 일정 비율에 해당하는 금액을 미술작품의 설치에 사용하는 대신에 제16조에 따른 문화예술진흥기금에 출연할 수 있다.
        li 제1항 또는 제2항에 따라 미술작품의 설치 또는 문화예술진흥기금에 출연하는 금액 건축비용의 100분의 1 이하의 범위에서 대통령령으로 정한다
        li 제1항에 따른 미술작품의 설치 절차 및 방법 등에 관하여 필요한 사항은 대통령령으로 정한다.
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      h3.policy 문화예술진흥법시행령
        h5 제12조 (건축물에 대한 미술작품의 설치)
        p
          | ①법 제9조제1항에 따라 미술작품을 설치하는 데에 건축비용의 일정 비율에 해당하는 금액을 사용하여야 할 건축물은 「건축법 시행령」 별표 1에 따른 용도별 건축물 중 다음 각 호의 어느 하나에 해당되는 건축물로서 연면적[「건축법 시행령」 제119조제1항제4호에 따른 연면적을 말하며, 주차장ㆍ기계실ㆍ전기실ㆍ변전실ㆍ발전실 및 공조실(空調室)의 면적은 제외한다. 이하 같다]이 1만 제곱미터(증축하는 경우에는 증축되는 부분의 연면적이 1만 제곱미터) 이상인 것으로 한다. 다만, 제1호에 따른 공동주택의 경우에는 각 동의 연면적의 합계가 1만 제곱미터 이상인 경우만을 말하며, 각 동이 위치한 단지 내의 특정한 장소에 미술작품을 설치하여야 한다.
          br
          ol
            li 공동주택(기숙사 및「임대주택법」에 따른 공공미술건설임대주택은 제외한다)
            li 제1종 근린생활시설(「건축법 시행령」 별표 1 제3호바목부터 자목까지의 시설은 제외한다) 및 제2종 근린생활시설
            li 문화 및 집회시설 중 공연장ㆍ집회장 및 관람장
            li 판매시설
            li 운수시설(항만시설 중 창고기능에 해당하는 시설 및 집배송시설은 제외한다)
            li 의료시설 중 병원
            li 업무시설
            li 숙박시설
            li 위락시설
            li 방송통신시설(제1종 근린생활시설에 해당하는 것은 제외한다)
          | ② 법 제9조제1항에서 "건축"이란 「건축법 시행령」 제2조제1항제1호 및 제2호에 따른 신축 및 증축을 말한다.
          br
          | ③ 법 제9조제1항부터 제3항까지의 규정에서 "건축 비용"이란 「수도권정비계획법」 제14조제2항에 따라 국토해양부장관이 고시하는 표준건축비를 기준으로 연면적에 대하여 산정한 금액(설계변경을 한 경우에는 최종 설계변경시점의 연면적을 기준으로 산정한 금액)을 말한다. 다만, 특별시·광역시를 제외한 지역의 경우에는 표준건축비의 100분의 95를 기준으로 연면적에 대하여 산정한 금액으로 한다.
          br
          | ④ 법 제9조제1항 및 제2항에서 "미술작품"이란 제13조에 따라 감정 또는 평가를 거친 다음 각 호의 것을 말한다. 1. 회화, 조각, 공예, 사진, 서예, 벽화, 미디어아트 등 조형예술물 2. 분수대 등 미술작품으로 인정할 만한 공공조형물
          br
          | ⑤ 법 제9조제1항에 따라 미술작품의 설치에 사용하여야 하는 금액은 별표 2와 같다.
          br
          | ⑥ 법 제9조제3항에 따라 법 제16조제1항에 따른 문화예술진흥기금(이하 “기금”이라 한다)에 출연하는 금액은 별표 2에 따른 금액의 100분의 70에 해당하는 금액으로 한다.
          br
        h5 제13조(미술작품의 설치 절차·방법)
        p
          | ① 법 제9조제1항에 따라 미술작품을 설치할 의무가 있는 건축주가 건축물에 미술작품을 설치하려면 해당 건축물이 소재하는 지역을 관할하는 시ㆍ도지사에게 미술작품의 가격과 예술성 등에 대한 감정ㆍ평가를 신청하여야 한다.
          br
          | ② 제1항에 따른 신청을 받은 시ㆍ도지사는 해당 미술작품의 가격과 예술성 등을 공정하고 객관적으로 감정ㆍ평가하여 그 결과를 건축주에게 알려야 한다.
          br
          | ③ 시ㆍ도지사는 「건축법」제22조에 따라 허가권자가 건축물의 사용승인을 하기 전에 미술작품이 제2항의 감정ㆍ평가 결과에 따라 설치되었는지 확인하여야 한다.
          br
          | ④ 미술작품의 설치 절차 등에 필요한 그 밖의 사항은 시ㆍ도의 조례로 정한다.

    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      h5 제13조의2(기금 출연의 절차ㆍ방법)
      p
        | ① 법 제9조제2항에 따라 제12조제6항의 금액을 기금에 출연하려는 건축주(이할 이 조에서 “건축주”라 한다)는 별지 제5호서식의 문화예술진흥기금 출연 계획서를 시ㆍ도지사 및 법 제20조에 따른 한국문화예술위원회(이하 “한국문화예술위원회”라 한다)에 각각 제출하여야 한다.
        br
        | ② 건축주는 「건축법」제22조에 따른 건축물의 사용승인 신청 전까지 기금에 출연하여야 하며, 한국문화예술위원회는 건축주가 제12조제6항에 따른 금액의 출연을 완료한 경우에는 그 출연일로부터 10일 이내에 별지 제6호서식의 문화예술진흥기금 출연 확인서를 건축주에게 발급하고 이를 시ㆍ도지사에게 통보하여야 한다.
      h5 제14조(미술작품심의위원회)
      p
        | ① 시ㆍ도지사는 제13조제2항에 따른 미술작품의 가격과 예술성 등에 대한 공정하고 객관적인 감정ㆍ평가를 위하여 미술ㆍ건축ㆍ환경ㆍ공간디자인ㆍ도시계획분야 등의 전문가 및 시민대표 등으로 구성된 미술작품심의위원회를 운영할 수 있다. 이 경우 관련 분야 전문가를 3분의 2 이상 포함하여야 한다.
        br
        | ② 제1항에 따른 미술작품심의위원회는 다음 각 호의 사항을 심의한다.
        ol
          li 미술작품의 가격
          li 미술작품의 예술성
          li 미술작품과 건축물 및 환경의 조화
          li 미술작품에 대한 접근성
          li 그 밖에 미술작품의 도시미관에 대한 기여도 등
        | ③ 미술작품심의위원회는 제2항 각 호의 사항을 심의하면 그 결과를 공보에 공고하여야 한다.
        br
        | ④ 미술작품심의위원회의 구성ㆍ운영 등에 필요한 사항은 시ㆍ도의 조례로 정한다.
      h5 제15조(미술작품의 철거·훼손시의 조치)
      p
        | 시ㆍ도지사는 법 제9조에 따라 설치된 미술작품이 철거ㆍ훼손ㆍ용도변경되거나 분실되면 해당 건축주에게 원상회복하도록 조치하여야 한다. 다만, 건축주에게 귀책사유가 없으면 그러하지 아니하다.

